@font-face {
	font-family: "superba";
	src:url("f/superba.eot");
	src:url("f/superba.eot?#iefix") format("embedded-opentype"),
	url("f/superba.woff") format("woff"),
	url("f/superba.ttf") format("truetype"),
	url("f/superba.svg#superba") format("svg");
	font-weight: normal;
	font-style: normal;
}